name: Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Setup OCaml
      run: sudo apt install -y ocaml ocaml-dune ocaml-odoc
    - name: Install required packages
      run: sudo apt install -y ffmpeg
    - name: Build and install
      run: dune build @install
    - name: Run tests
      run: eval $(opam env) && dune build @citest
